<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body style="display: flex;justify-content: center;align-items: center;">
    <div>
        <p>
                        _______________________________Documentation___________________________________ <br> <br> <br> <br>



            ====================  Schema ==================== <br><br>

            {<br>
                title: String,<br>
                about: String,<br>
                images: {<br>
                    head: String,         //the main image<br>
                    allImages: Array      //the swiper images<br>
                },<br>
                video: String,<br>
                openingHours: String,    <br>
                location: String,
                government: String,        //  [Cairo, Alexandria, Aswan, Fayoum, Giza, Luxor, Red_Sea]<br>
                price: String,<br>
                vibe: [String],            //  [Creative, Social, Organized, Analytical]<br>
                ticket: String,<br>
                tags: [String],<br>
                rating: {<br>
                    rate: Number,<br>
                    usersRated: Number<br>
                }<br>
            }<br><br>

            //////////////////////////////////////////////////<br><br><br>


            ====================  Endpoints  ====================<br><br><br>


            --- Frist endpoint ---<br><br>

            "/getplaces" :<br>
                returns all places in database<br><br><br>


            --- Secound endpoint ---<br><br>

            "/getplaces/:class" :<br>
                returns all places in a spacefic personality    [creative, social, organized, analytical]<br><br><br>
                

            --- Third endpoint ---<br><br>

            "/getplaces/:class/:city" :<br>
                returns all places in spacefic personality and government<br><br><br>


            --- Forth endpoint ---<br><br>

            "/getplaces/any/:city"<br>
                returns all places in spacefic government<br>

        </p>
    </div>
</body>
</html>